{% load i18n %}
{% load useractivity_tags %}
{% load map_url %}
{% load format_date %}
{% load movie %}

<li>
    <p>
	<a href="{% url_username_link activity.username %}">{{ activity.username }}<img width="45" height="45" src="{% avatars 45 activity.username %}" alt="{{ activity.username }}" /></a>
	{% trans "rated" %} <a href="{% url show_film activity.film_permalink %}">{{ activity.film_title }}</a>
	<meter class="rating-2" max="10" value="{{ activity.rating }}">{{ activity.rating }} {% trans "stars" %}</meter>
    </p>
    <p>
        {% human_readable_date activity.created_at %}.
    </p>
</li>
