<!doctype html>
{% load i18n %}
{% load map_url %}
<!--[if lt IE 7 ]> <html lang="{% trans "LANGUAGE_CODE" %}" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]> <html lang="{% trans "LANGUAGE_CODE" %}" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]> <html lang="{% trans "LANGUAGE_CODE" %}" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="{% trans "LANGUAGE_CODE" %}" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="{% trans "LANGUAGE_CODE" %}" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{% block title %}{% trans "Film buffs community" %}{% endblock %} — {% trans "filmaster.com" %}</title>
	<meta name="description" content="{% block description %}{% trans "Film buffs community" %} — {% trans "filmaster.com" %}{% endblock %}">
	<meta name="author" content="Filmaster sp. z o.o.">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/static/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">

{% if not request.is_mobile or not request.is_oauth %}
	<link rel="stylesheet" media="screen,projection" href="/static/css/style.css?v=2.14" />
	<link rel="stylesheet" media="screen,projection" href="/static/css/{{ settings.LANGUAGE_CODE }}.css?v=2.01" />
{% endif %}
{% if request.is_mobile %}
  {% if request.is_oauth %}
    <link href="/static/css/style-oauth-{{request.platform}}.css?v=3" rel="stylesheet" type="text/css" media="screen,projection" />
  {% endif %}
{% endif %}
	<link type="text/css" href="/static/css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />	
{% if not request.is_mobile or not request.is_oauth %}
	<script src="/static/js/libs/modernizr-2.0.6.min.js"></script>
{% endif %}
	<script>{% include "js/static.js" %}</script>
	{% block head %}
	{% include 'head.html' %}  
	{% endblock %}
    <meta property="og:site_name" content="Filmaster"/>
    {% ifequal request.lang 'pl' %}<meta property="fb:app_id" content="134155386943" />{% else %}<meta property="fb:app_id" content="143577900131" />{% endifequal %}
    <meta property="fb:admins" content="729009220,1650740466" />
	{% block head_extra %}
	{% endblock %}
	{% block extrajs %}
	{% endblock %}
</head>
	<body{% block body-class %}{% endblock %}>
<!--	oauth: {{request.is_oauth}} mobile: {{request.is_mobile}}-->
	{% include "facebook_connect/facebook_script_async.html" %}

{% ifequal settings.LANGUAGE_CODE "pl" %}
{% if not request.is_mobile %}
{% if not request.user.is_authenticated %}
{% ifnotequal request.path "/" %}
	<div class="billboard">
		<!-- BBelements one2many Position: Filmaster.pl(4193) / Pozostale(2) / billboard(1) / billboard 750x100 750x100(30) -->
		<!-- HowTo: Place this code into the html page there the ad should appear. -->
		<div id='bmone2n-4193.2.1.30'></div>
	</div>
{% endifnotequal %}
{% endif %}
{% endif %}
{% endifequal %}

	<div id="container">
        {% if request.GET.debug %}
        <div id="debug">
            {{request.timezone}} {{request.geo}}
        </div>
        {% endif %}
        {% block header %}
			{% include 'base/header.html' %}
		{% endblock %}
		{% block rate-site-header %}<!-- TODO: move somewhere else -->
		{% endblock %}

		<div id="main">

			{% if messages %} <!-- TODO: do sth with this -->
				<div id="messages" class="flash-messages">
					{% for message in messages %}
						<p {%if message.tags%}class="{{ message.tags }}"{%endif%}>{{ message|safe }}</p>
					{% endfor %}
				</div><!-- #messages .messages -->
			{% endif %}

			{% block primary-content-wrapper-start %}
			<div class="primary-content">
			{% endblock %}
				{% block content-start %}
				<div class="content">
				{% endblock %}

				{# used on all pages #}
				{% block content %}
				{% endblock content %}

				{% block content-end %}
				 </div> <!-- .content -->
				{% endblock %}

				{% block primary-content-aside %}{% endblock %}

			{% block primary-content-wrapper-end %}
			</div><!-- .primary-content -->
			{% endblock %}

			{% block secondary-content-aside %}{% endblock %}
		</div><!-- #main -->
		
		{% block footer %}
			{% include 'base/footer.html' %}
		{% endblock %}

		{% ifequal settings.LANGUAGE_CODE "pl" %}
		{% if not request.is_mobile %}
		{% if not request.user.is_authenticated %}
		{% ifnotequal request.path "/" %}
			<div class="skyscraper">
				<!-- BBelements one2many Position: Filmaster.pl(4193) / Pozostale(2) / skyscraper(1) / skyscraper_pl 160x600 160x600(31) -->
				<!-- HowTo: Place this code into the html page there the ad should appear. -->
				<div id='bmone2n-4193.2.1.31'></div>
			</div>
		{% endifnotequal %}
		{% endif %}
		{% endif %}
		{% endifequal %}

	</div> <!-- #container -->
	{% include 'base/eu.html' %}

{% if not request.is_mobile and not settings.SKIP_EXTERNAL_REQUESTS %}
    {% if settings.LANGUAGE_CODE == 'pl' %}
        <script type="text/javascript" src="http://app.sugester.pl/filmaster/widget.js"></script>
    {% else %}
<script type="text/javascript">
document.write(unescape("%3Cscript src='" + ((document.location.protocol=="https:")?"https://snapabug.appspot.com":"http://www.snapengage.com") + "/snapabug.js' type='text/javascript'%3E%3C/script%3E"));</script><script type="text/javascript">
SnapABug.addButton("4416161b-b556-446d-a25b-155ea504be3c","1","55%");
</script>
    {% endif %}
{% endif %}

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script>window.jQuery || document.write("<script src='/static/js/libs/jquery-1.6.2.min.js'>\x3C/script>")</script>

	<script src="/static/js/libs/jquery-ui-1.8.16.custom.min.js"></script>
    <script src="/static/js/plugins/jquery.form-2.11.js"></script>
	<script src="/static/js/plugins/jquery.autogrow.min.js"></script>
	<script src="/static/js/plugins/jquery.filmaster.js"></script>
	<script src="/static/js/plugins/jquery.timeago.js"></script>
	<script src="/static/js/script.js?v=138"></script>
{%if user.is_authenticated%}
{%comment%}
    <script src="/static/js/channel.js"></script>
    <script>
        init_channel("{{user.username}}");
    </script>
{%endcomment%}
{%endif%}
    {% block end-scripts %}{% endblock %}

    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("{{ settings.ANALYTICS_CODE }}");
    pageTracker._trackPageview();
    } catch(err) {}</script> 

{% ifnotequal request.path "/" %}
<!-- BBelements one2many code -->
<!-- HowTo: All the ad codes must be above this code! -->
<!-- HowTo: It is good idea to place this code just below the last ad code. -->
<script type='text/javascript' src='http://go.arbopl.bbelements.com/bb/bb_one2n.js?1281505240'></script>
<script type='text/javascript'>/* <![CDATA[ */ 
bmone2n.addPosition('4193.2.1.30','');
bmone2n.addPosition('4193.2.1.36','');
bmone2n.addPosition('4193.2.1.9','');
bmone2n.addPosition('4193.2.1.31','');
bmone2n.getAd('go.arbopl.bbelements.com','',''+(typeof(bburlparam)=='string'?'&'+bburlparam:''));
/* ]]> */</script>
<div id='bmone2t-4193.2.1.30' style='display:none'><script type='text/javascript'>/* <![CDATA[ */ bmone2n.makeAd('4193.2.1.30'); /* ]]> */</script></div>
<div id='bmone2t-4193.2.1.36' style='display:none'><script type='text/javascript'>/* <![CDATA[ */ bmone2n.makeAd('4193.2.1.36'); /* ]]> */</script></div>
<div id='bmone2t-4193.2.1.9' style='display:none'><script type='text/javascript'>/* <![CDATA[ */ bmone2n.makeAd('4193.2.1.9'); /* ]]> */</script></div>
<div id='bmone2t-4193.2.1.31' style='display:none'><script type='text/javascript'>/* <![CDATA[ */ bmone2n.makeAd('4193.2.1.31'); /* ]]> */</script></div>
<script type='text/javascript'>/* <![CDATA[ */ bmone2n.moveAd(); /* ]]> */</script>
{% endifnotequal %}
</body>
</html>
