{% load i18n %}
{% load utils %}
{% load map_url %}
{% load useractivity_tags %}

<section class="meta">
    <h1><a href="{% url_user_link request.user %}">{{ request.user }}</a></h1>
    <p><a href="{% url_user_link request.user %}"><img width="180" height="180" src="{% avatars 180 request.user %}" alt="{{ request.user }}" /></a></p>
    <p class="edit"><a href="{% url edit_profile %}">{% trans "Edit your profile" %}</a></p>
    <nav>
        <ul>
            {# <li><a href="#">{% trans "Events" %}</a></li> #}
            {# <li><a href="#">{% trans "Achievements" %}</a></li> #}
            <li>{% a articles %}{% trans "Articles" %}{% enda %}</li>
            <li>{% a ratings %}{% trans "Rated movies" %}{% enda %}</li>
            <li>{% a collection %}{% trans "My home collection" %}{% enda %}</li>
            <li>{% a wishlist %}{% trans "My wishlist" %}{% enda %}</li>
            <li>{% a shitlist %}{% trans "My shitlist" %}{% enda %}</li>
            <li>{% a similar_users_url %}{% trans "Filmasters similar to you" %}{% enda %}</li>
        </ul>
    </nav>
</section> <!-- .meta -->
